<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sistemascasa.tigie"
    android:versionCode="1"
    android:versionName="E-TigieDemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HeadingsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SubheadingsActivity"
            android:parentActivityName=".HeadingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HeadingsActivity" />
        </activity>
        <activity android:name=".FractionActivity" />
        <activity
            android:name=".FragmentsActivity.FractionInformationActivity"
            android:parentActivityName=".SubheadingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubheadingsActivity" />
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".settings.ActivityAbout" />
        <activity android:name=".settings.ActivityFavourites" />
        <activity android:name=".settings.ActivityEmail" />
        <activity android:name=".SearchFractionWords" />
        <activity android:name=".settings.ActivityFraccionFavoritos" />
        <activity android:name=".LinkerActivity" />
    </application>

</manifest>